
@import url("https://fonts.googleapis.com/css?family=Manrope");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* font-family:'Manrope'; */
 background-color: #0D0D0D;
}
.navbar-bg-gridiant{
  background: linear-gradient(95.91deg, #665AEF 6.04%, #FC364C 88.42%);
  padding-bottom: 0.3rem;
}