@import url("https://fonts.googleapis.com/css?family=Manrope");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* font-family:'Manrope'; */
  background: linear-gradient(0deg, #0D0D0D, #0D0D0D), #141417;
}

.navbar-bg-gridiant {
  background: linear-gradient(95.91deg, #665AEF 6.04%, #FC364C 88.42%);
  padding-bottom: 0.3rem;
}