
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* background: linear-gradient(15.74deg, rgba(46, 45, 102, 0.6) -2.5%, rgba(58, 39, 63, 0.6) 47.55%, #181818 90.7%); */
 background-color: #0D0D0D;
}
.navbar-bg-gridiant{
  background: linear-gradient(95.91deg, #665AEF 6.04%, #FC364C 88.42%);
  padding-bottom: 0.3rem;
}